.topLogoImage {
    padding: 25px 0;
}

.briefcitDetail, .briefcitAuthDetail {
    width:89.25%;
}

.libraryh3lp {
    width:230px;
    margin-bottom:1em;
}

.mainColumn {
    width:73%;
}

.rightColumn {
    margin: 1%;
    width:21%;
}

#sideChat {
    width:205px;
    margin-left:auto;
    margin-right:auto;
}