.briefcitDetail, .briefcitAuthDetail  { display:inline; float:left; padding:0px 0 0px 30px; width:65%; }

.briefcitJacket  { float:left; margin:5px 15px; width:80px; display:inline; }

.mainSearch #accessibleForm {
    margin-bottom: 4em;
}

#syndetics { display: block; }

.topLogoImage {
    padding: 22px 0;
}