.navHeader {
    border-bottom:1px dashed #5E5D5D;
    color:#5E5D5D;
    font-size:small;
    font-weight:bold;
    letter-spacing:1px;
    margin-bottom:0;
    margin-top:5px;
    padding:2px;
}


.frontPageNavColumn {
    background-color:#F3F3F3;
    border:1px solid #D3D3D3;
    float:right;
    margin:2% 1.75%;
    padding:0.5%;
    width:19%;
    display:block;
}

.pageContentColumn {
    float:right;
    margin-left:1%;
    padding:1%;
    width:71%;
}

.frontPageMainColumn {
    width:76%;
}

#rightCol {
    font-size:15px;
    margin:0 20px;
    padding:0;
}

#rightCol li {
    list-style-type:none;
    padding:4px 0;
    text-indent:-14px;
    margin:0 0 0 3px;
}

#rightCol li a {
    color:#444444;  
    text-decoration:none;
}

#searchNavMenu {
    visibility:hidden;
}

