div .bibResourceSidebar {
    display:block;
}

.bibResourceSidebar {
    width:208px;
}

.libraryh3lp {
    width:230px;
}

.mainColumn {
    width:100%;
}

.rightBib {
    float:right;
    width:240px;
}


.rightColumn {
    display:none;
}

