/* http://lib1000.dlsu.edu.ph/ : De La Salle University css */
/* wilo_styles.css updated 080624 lee */

/* 2006 Web OPAC Version, set from 13 July, 2006 */
/* This file last changed: 16 December, 2005 */
/* general appearance */
/* See also Web Option BODYPARAM */
/* Stylesheet to use for dynamic Web pages */
/* is set by Web Option STYLESHEET */

/* COLOR SCHEME (use find & replace to swap colors */
/* very light blue: EBF5FC */
/* light blue: C2D1C2 */
/* medium blue: 668466 */
/* dark blue: 325032 */
/* very dark blue: 264126 */
/* yellow highlight: F5D9A3 */

#botlogo { 
	background-color:#ffffff; 
	color:#336633; 
	text-decoration: none;
	vertical-align:top; 
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size:12px; 
	font-weight:bold; 
	}

#frmAdvancedKeyword { background-color: #ffffff; color:#000000; font-size:12px; white-space:nowrap; }
avs { background-color: #ffffff; color:#000000; width:100%; font-size:12px; white-space:nowrap; }
.srchLabel { color:#325032; font-weight: bold; padding-left:3px; padding-right:3px; }
/*.row {  
	border:0px;
	width:700px; 
	height:25px;
	background-color:#336633;
	color: #ffffdf;
	vertical-align:middle; 
	text-align:center; 
	}
.row links { 
	height:25px;
	font-size:70%; 
	font-weight: bold; 
	vertical-align:middle; 
	text-decoration: none;
	}
.row span.end {
	border-right: 1px solid #336633;
	}
.rowLink a:link, .rowLink a:active, .rowLink a:hover, .rowLink a:visited {  	
	background-color:#336633;
	color:#ffffdf;
	font-weight:bold; 
	font-size:70%;
	text-decoration: none; 
	}*/
	
/* Section 1 */
/*Global tag styles*/
body { 
	margin:0px; 
	padding:0px; 
	background-color:#ffffff; 
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-style:normal; 
	font-weight:normal;
	font-size:90%;
	}
div, table { clear: both; }
/* This rule causes search form elements to resize along with the rest of the text on the page if the user resizes text. */
input, select, textarea { font-size: 95%;}
/* This rule uses CSS2 to give a nicer effect in compliant browsers, while avoiding an annoying display effect in Internet Explorer 6 */
input[type="checkbox"] { background-color: #C2D1C2; }
strong { font-weight: bold; }
td { font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;  font-style : normal; font-weight : normal; }
th { font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; }
/*traditional link colors are suggested for better usability */
a:link, a:active, a:visited, a:hover { color: #325032; }
A.pageNavAreaText:LINK, A.pageNavAreaText:VISITED { color:#FFFFFF; text-decoration:none; font-weight:bold; background-color:#668466;  }
A.pageNavAreaText:ACTIVE, A.pageNavAreaText:HOVER { color:#c2d1c2; text-decoration:none; font-weight:bold; background-color:#668466;  }

/* Section 2 */
/* named styles listed in alphabetical order */
/*controls display of authority redirect information */
.authorityRedirect { border: 2px solid #325032; padding:5px; text-align:center; }
.authPublicNote { font-size: 80%; background: #EBF5FC; } 
/* This is used in the Materials Booking calendar */
.available { font-weight: bold; color: green; }
.availLimMessage { font-style: italic; text-align: left; }

/* classes for bib display */
/* see also Web options TABLEPARAM_BIB... */
.bibBookingsHeader { 
		font-weight:bold; 
		text-decoration:none; 
		padding:3px; 
		border:1px solid #668466; 
		background-color:#ffffdf; 
		font-size:90%; }
.bibDetail { }
.bibHoldings { border: 2px solid #668466; }
.bibHoldingsEntry { }
.bibHoldingsHeader { font-size:90%;  }
.bibHoldingsLabel { }
.bibHolds { border: 1px solid #668466; }
.bibHoldsEntry { border: 1px solid #668466; }
.bibInfo {  }
.bibInfoData { font-size: 85%; }
.bibInfoEntry { }
.bibInfoLabel { 
	width: 15%; 
	font-size:82%; 
	text-align: right; 
	padding-right: 2em; 
	background-color: #C2D1C2; 
	font-weight: bold; 
	font-style: italic; }
.bibItems { border: 1px solid #668466; }
.bibItemsEntry { color: #000000; background: #C2D1C2; text-align: left; }
.bibItemsHeader { color: #FFFFFF; background: #668466; font-weight: bold; text-align: center; font-size:85%; }
.bibItemsLabel { }
.bibLicense { }
.bibLicenseEntry { color: #000000; background: #C2D1C2; text-align: left; }
.bibLicenseHeader { color: #FFFFFF; background: #668466; font-weight: bold; text-align: left; font-size:90%; }
.bibLinks { border: 1px solid #668466; }
.bibOrder { border: 1px solid #668466; }
.bibOrderEntry { }
.bibPager { font-size: 85%; text-align:center; }
.bibRecordLink { font-size:82%; padding-left: 6px; font-style: italic; }
.bibResource { }
.bibResourceBrief { }
.bibResourceCaption { }
.bibResourceEntry td { font-weight: bold; }
.bibResourceHeader { }
.bibResourceLicense td { padding-bottom: 20px; }
.bibResourceLicenseEntry { background: #FFF99D; }
.bibResourceSubEntry { border-bottom: 1px solid blue; background-color: #ffffdf;font-style: italic; }
.bibResourceTable, .browseResourceTable { border: 1px solid #668466; }
.bibResourceTableEntry, .browseResourceTableEntry { color: #000000;  text-align: center; font-weight: bold; }
.bibResourceTableHeader, .browseResourceTableHeader { font-weight: bold; font-size: 85%; background: #C2D1C2; padding: 1px; } 
.bibScreen { }
.bibSearchtool { background: #C2D1C2; margin-left: auto; margin-right: auto; padding: 1px; font-size:85%; }
/*.bibThumbnails { }*/
.bibTOC { width: 90%; margin-left: 30px; border: 1px solid #668466; padding: 3px; margin-bottom: 3px; }
.bibTOC td { border-bottom: 1px solid #EBF5FC; font-size: 85%; }
/*.bibXML { }*/

/* control over mainmenu and opacmenu pages layout */
.biglogo { margin-left:17px; width:350px; height:125px}
#catalog { 
	text-align: left; 
	padding: 20px; 
	padding-top: 1em; 
	margin-bottom: 0px; 
	margin-right: 20px; 
	margin-left:20px; 
	background-color: #FFFFFF; 
	vertical-align: top; 
	font-size: 85%; 
	height:225px}
#encoreLink img {border-style:none;}
.metacatalog { 
	text-align: left; 
	padding: 20px; 
	padding-top: 1em; 
	margin-bottom: 0px; 
	margin-right: 20px; 
	margin-left:20px; 
	/* background-color: #C2D1C2; */
	vertical-align: top; 
	font-size: 80%; 
	height:150px}
.msg { font-size: 125%; color: #FF0000; }
.navigationRow { margin: -3px; }
.navigationRow select { vertical-align: top; }
.nowrap {white-space: nowrap; }
.pageDirectoryArea { color:#000000; text-align:left;  }
.pageInfoAreaHeader { color:#325032; background-color:#C2D1C2; font-size: 110%; font-weight: bolder; text-align: left;  }
.pageMainArea { color:#000000; background-color:#ffffff; padding-left: 3px; }
.pageMainArea_1 { color:#000000; background-color:#000000; padding-left:3px; font-size: 80%; }
.pageMainAreaHeader { color:#336633; font-size:105%; font-weight:bolder; text-align: left; }
.pageMainAreaHeader_1 { color: #FFFFFF; font-size: 105%; font-weight: bolder; text-align: left; }
.pageMainAreaSubHeader { font-weight: bold; font-style: italic}
.pageNavArea { color: #FFFFFF; background-color: #668466; }
.pageNavAreaBorder { background-color: #325032; }
.pageNavAreaText {  color: #FFFFFF; text-decoration: none; font-weight: bold; background-color: #668466; }
.sections td { vertical-align: top; padding-bottom: .5em;}
.sections td td { vertical-align: middle; }
.sections .right-column { padding-left: 2em; }

/* These are used for Materials Self-Booking */
.bookingsConfirmMsg { font-weight: bold; text-decoration: none; padding-bottom: 5px; background: #ffffdf;}
.bookingsItemsEntry { }
.bookingsItemsHeader { }
.bookingsLegend { }
.bookingsLocation { }
.bookingsRepeat { margin-left: 15px; margin-right: 15px; border: 1px solid #668466; padding: 3px; }
.bookingsRepeatNone { }
.bookingsRepeatDaily { }
.bookingsRepeatWeekly {  }
.bookingsRepeatWeeklyDay { margin-left: 30px; }
.bookingsRepeatMonthly {  }
.bookingsEndsOn {  }
.bookingsSelect { width: 90%; margin-left: 5%; margin-bottom: 1em; }
.bookingsSelectCal { width: 90%; margin-left: 5%; text-align: center; background: #EBF5FC; border: 2px solid #668466; margin-bottom: 1em; }
.bookingsSelectCal table { margin: auto; border: none; font-size: 95%; } 
.bookingsSelectCal th { text-align: center; border: none; } 
.bookingsSelectCal td { border: 1px solid #668466; }
.bookingsSelectEndtime { margin-left: 10px; }
.bookingsSelectRepeat { margin-top: 5px; margin-bottom: 5px; }
.bookingsSelectTime { background-color: #EBF5FC; border: 2px solid #668466; padding: 3px; }

/* Brief Citation display styles */
/*.briefcitActions { font-size: 80%; text-align: center; }*/
/*.briefcitCheckbox {  }*/
/*.briefcitDetail { font-size: 90%; }
.briefcitDetail img { padding-top: 2px; }
.briefcitExtras { font-size: 80%; text-align: center; white-space: nowrap; }
.briefcitExtras img { padding-bottom: 2px; }*/
/*.briefcitItems em {  }*/
.briefcitItems table { width: 87%; margin-left:40px; }
.briefcitItems td { font-size: 85%; }
.briefcitItems .bibItemsHeader { font-size: 85%; }
.briefcitMark { font-size: 85%; }
.briefcitResultInfo { text-align: left; }
.briefCitRow { width: 90%; color: #000000; /*background: #C2D1C2;*/ font-weight: normal; }
.briefcitStatus { font-weight: bold; font-size: 85%; }
.briefcitTitle { font-weight: bold; font-size: 95%; color: #000000; }

/* classes for browse displays */
/* See also Web options BROWSE_HEADERS, TABLEPARAM_BROWSE..., TABLEPARAM_BRIEFCIT */
.browseEntry { color: #000000; background: #C2D1C2; font-weight: normal; }
.browseEntry td { border-top: 1px #EBF5FC solid; }
.browseEntryData { text-align: left; }
.browseEntryEntries { text-align: center; }
.browseEntryMark { font-weight: bold; }
.browseEntryMedia { vertical-align: middle; }
.browseEntryNum { text-align: center; }
.browseEntryRelevance { }
.browseEntryYear {text-align: center; }
.browseHeader { color: #FFFFFF; background: #668466; font-size:90%; font-weight: bold; vertical-align: middle; }
.browseHeaderData { color: #FFFFFF; background: #668466; font-weight: bold; vertical-align: middle; }
.browseHeaderEntries { color: #FFFFFF; background: #668466; font-weight: bold; vertical-align: middle; }
.browseHeaderMark { color: #FFFFFF; background: #668466; font-weight: bold; vertical-align: middle; width: 5%; }
.browseHeaderMedia { color: #FFFFFF; background: #668466; font-weight: bold; vertical-align: middle; }
.browseHeaderNum { color: #FFFFFF; background: #668466; font-weight: bold; vertical-align: middle; width: 5%; }
.browseHeaderRelevance { color: #FFFFFF; background: #668466; font-weight: bold; vertical-align: middle; }
.browseHeaderYear { color: #FFFFFF; background: #668466; font-weight: bold; vertical-align: middle; width: 5%; }
.browseList { }
.browsePager { font-size: 85%; text-align:center; }
.browseResourceTableEntry { color: #000000;  text-align: center; }
.browseResourceTableHeader { font-weight: bold; font-size: 85%; background: #C2D1C2; padding: 1px; }
/*.browseSaveJump { color: #000000; background: #FFFFFF; text-align: center; font-size:85%; }
.browseSaveJump form { display: inline; }*/
.browseScreen { }
.browseSearchtool { 
	background: #C2D1C2; 
	margin-left: auto; 
	margin-right: auto; 
	margin-bottom: -3px; 
	padding-left: 3px; 
	padding-right: 3px; 
	border: 1px solid #668466; 
	}
.browseSearchtoolMessage { font-size: 90%; } 
.browseSubEntry { color: #000000; background: #C2D1C2; font-weight: normal;  }
.browseSubEntryData { }
/* Is an Entries column ever drawn in Extended browse? */
.browseSubEntryEntries { }
.browseSubEntryMedia { }
.browseSubEntryRelevance { }
.browseSubEntryYear { }
.browseSuperEntry { color: #FFFFFF; background: #668466; font-weight: bold;  }
.button { vertical-align: middle; }

/* This is used in the Materials Booking calendar */
.closed { font-weight: bold; color: red; }
.errormessage { font-size: 125%; color: #FF0000; }
.errormessage h2 { display:inline; }
.unavailable { font-weight: bold; color: black; background: #D7D7D7; }
.unpadded { margin-bottom:auto; margin-top:auto; }
.wamCalcDate{ background: #ECECEC; border: 1px silver dashed; font-size: 90%;  }
.xmlframe { width:100%; height:600px; border-width:0; }
.yourEntryWouldBeHere { }
.yourEntryWouldBeHereData { border: 2px solid #F5D9A3; }

/* External Patron Authentication product style */
.extpat div { line-height: 1.66em; width: 90%; background: #EBF5FC; border: 2px solid #668466; padding: 3px; margin-left: auto; margin-right: auto; text-align: right; }
.extpat strong { display: block; text-align: left; }
.libpat div { line-height: 1.66em; width: 90%; background: #EBF5FC; border: 2px solid #668466; padding: 3px; margin-left: auto; margin-right: auto; text-align: right; }
.libpat strong { display: block; text-align: left; }
.loginarea { }
.main { margin-left: 20px; margin-right: 20px; }

/* used for search help pages tabbed navigation */
.fields td { padding: 2px; }
.tabBody { background-color:#ffffff; border:1px solid #336633; padding:.7em; }
.tabs { width: 90%; margin-bottom:-1px; display: inline-block; }
.tabs span { 
	height: 25px;
	background-color: #336633; 
	color:#ffffdf;
	border: 1px solid #ffffdf;
	border-bottom: 1px solid #336633; 
	padding-top:.2em; padding-bottom:4px; 
	padding-left:.7em; padding-right:.7em;
	white-space:nowrap; 
	font-size:75%; 
	font-weight:bold;
	}
.tabs span.selected { 
	background-color:#ffffdf;
	color:#336633; 
	border:1px solid #336633; 
	border-bottom: 1px solid #9EB69B; 
	font-size:75%; 
	font-weight:bold
	}
.tabs span.right { 
	background-color:#336633; 
	border-right: 1px solid #ffffdf;
	font-size: 75%;  }
	
.pageSubmenuArea {
	color: #FFFFCC;
	font-size: 100%; 
	text-decoration: underline;
	}
	
.pageSubmenuArea a:link {
	color: #FFFFCC;
}	

.pageSubmenuArea a:visited {
	color: #FFFFCC;
}
	
.pageSubmenuText {
   color: #FFFFCC;	
}
	
	
.topicFeeds { clear: none; float: right; width: 60%; padding: 5px; }
.topicLinks { clear: none; float: left; padding: 5px; width: 35%; }
.topicLinks ul { padding: 5px; padding-left: 20px; margin: 2px; border: 1px solid #668466; }

/* This is used in the featured list display */
.ftlistHeader { }

.helpNote { font-size: 90%; font-style: italic; }
.helpspan { padding-right:.5em; font-size:90% }
.holdingsDivider { border: 2px solid #C2D1C2; margin: -3px; }

/* Used in Related Searches display */
div#instructions { font-size: 90%; font-style: italic; }

/* Styles used in Limit/Sort Search page - srchmod.html */
.limitEntriesFoundNum { font-size: 90%; font-style: italic; }
.limitEntriesFoundText { font-size: 90%; font-style: italic; }
.limitSearchTerm { font-size: 90%; font-weight: bold; }
.limitSearchTypeText { font-size: 90%; }
.limitSearchTypeIndex { font-size: 90%; }
.loggedInMessage {	padding-left: 6px; font-style: italic; color: red; font-size: 90%; }

/* used for search help pages tabbed navigation */
#main { width:800px; margin-left:15px; margin-right:15px; font-size:90%}
#main a:link { color:#668466;font-weight:bold; }
#main a:hover { text-decoration: underline; }
#main a:visited { color:#325032; font-weight:bold; } 
#main div {padding-top:.2em}
#main .tabs a:link, #main .tabs a:visited { color:#ffffdf; font-weight:bold; text-decoration: none; }
#main .tabs a:active{ color: #336633; }
#main .tabs a:hover { text-decoration: none; }

/* classes for patron record display */
/* see also Web options TABLEPARAM_PATDISP, TABLEPARAM_PATFUNC, */
/* and the various BUT_PAT_ graphics options. */
.patActionsLinks { text-align: center; clear: both; padding: 10px; }
.patActionsLinks img { vertical-align: middle; }
.patDisplay { }
.patDisplayFunc {}
.patDisplayInfo { }
.patFunc { border-top: 0; border-spacing: 0; width: 100%; }
.patFunc td { padding: 5px; font-size: 90%; border-bottom: 1px solid #EBF5FC; }
.patFuncArea { border: 2px solid #668466; margin: 3px; }
.patFuncArea form { display: inline; }
.patFuncArea img { padding-top: 2px; } 
.patFuncAuthor { }
.patFuncBookDate { }
.patFuncBtns { color: #000000; background: #C2D1C2; }
.patFuncCallNo { }
.patFuncCancel { text-align: center; }
.patFuncDate { }
.patFuncDetails { }
.patFuncEntry { color: #000000; background: #C2D1C2; font-weight: normal;  }
.patFuncFinesDetailAmt { }
.patFuncFinesDetailDate { }
.patFuncFinesDetailDateLabel { }
.patFuncFinesDetailType { }
.patFuncFinesEntryDetail td { border-bottom: 1px solid #668466; }
.patFuncFinesEntryTitle { color: #000000; background: #C2D1C2; font-weight: normal;  }
.patFuncFinesTotal { }
.patFuncFinesTotalAmt { font-weight: bold; }
.patFuncFinesTotalLabel { }
.patFuncFreeze { }
.patFuncHeaders { color: #FFFFFF; background: #668466; padding-left: 3px; padding-right: 3px; font-size: 80%; }
.patFuncMark { }
.patFuncModifyPatInfo { }
.patFuncModifyPIN { }
.patFuncModifyPINExample { }
.patFuncNoEntries { }
.patFuncPickup { }
.patFuncPSrchBtn { }
.patFuncPSrchType { }
.patFuncRating { }
.patFuncRenewCount { font-style: italic; color: red; }
.patFuncStatus { }
.patFuncTitle { font-weight: bold; }
.patHelpLinks { border: 1px solid #668466; border-top: none; width: 300px; padding: 3px; margin-left: 5px; margin-right: 5px; background: #C2D1C2; }
.patHelpLinks a { text-align: right; display: block; border-bottom: 1px #EBF5FC solid; padding: 2px; }
.patImage { }
.patInfo { }
.patMainFuncs { float: left; }
.patNameAddress { text-align: left; border: 1px solid #325032; width: 350px; float: left; padding: 5px; }
.patSearchLinks { }
.patStatusLinks { border: 1px solid #668466; width: 300px; padding: 3px; margin-left: 5px; margin-right: 5px; background: #C2D1C2; float: left; }
.patStatusLinks a { text-align: left; display: block; border-bottom: 1px #EBF5FC solid; padding: 2px; }
#patVerify { 
	width:720px; 
	text-align:left;
	background-color:#ffffff; 
	color:#000000; 
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	}
.paymentPage { margin: 10px; }
.paymentPage h2 { font-weight: bold; }
.paymentPageFinestable { width: 80%; border: 2px solid #668466; }

.popupForm { font-size: 90%; }
.popupForm td { font-size: 90%; }

/* These are used in the Related Searches display in the Search Tool */
.relSearchLabel { font-size:85%; background-color: #668466; }
.relSearchLink { }
.reqFillTimeMsg { font-style: italic; font-size: 90%; }
.reserveBibs { border: 2px solid #668466; }
.reserveBibs td { border-bottom: 1px solid #668466; }
.reserveBibs input { background-color: #C2D1C2; }

/* Resource Record display */
.resourceBib { }
.resourceBibEntry { color: #000000; background: #C2D1C2; text-align: left; }
.resourceBibHeader { color: #FFFFFF; background: #668466; font-weight: bold; text-align: left; }
.resourceInfoData { }
.resourceInfoLabel { background: #C2D1C2; font-style: italic; }
.resourceLicense { }
.resourceLicenseEntry { color: #000000; background: #C2D1C2; text-align: left; }
.resourceLicenseHeader { color: #FFFFFF; background: #668466; font-weight: bold; text-align: left; }
.resourceLinkEntry { }

.resourceResource { }
.rssChannelEntries { padding: 10px; }
.rssChannelEntry { padding: 4px; }
.rssChannelEntryDate { font-size: 70%; font-style: italic; }
.rssChannelEntryDesc { font-size: 80%; }
.rssChannelEntryHead { font-size: 85%; font-weight: bold; display: list-item; padding-bottom: 2px; }
.rssChannelImage img { border: 0; margin-top: 2px; }
.rssChannelTitle { font-weight: bold; }
.rssFeed { padding: 5px; margin: 2px; border: 1px solid #668466; }

.searchTipsNavAreaText {  
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	color: #FFFFFF; 
	text-decoration: none; 
	font-weight: bold; 
	background-color: #325032; 
	}
.searchTipsHeaderText {  
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; 
	color: #325032; 
	text-decoration: none; 
	font-weight: bold; 
	background-color: #C2D1C2; }
.sectionHeading { font-weight: bold; }

/* This is used in the patron views of holds */
.suspended td { font-size: 90%; background: #EBECF6 url(/screens/icicles.gif) repeat-x top; }

/* WEBPAC PRO CLASSES */
.InnovativeCredit { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 75%; }

/* Section 3: WebBridge - NOT USED IN WILO */
/* WebBridge style names lowercased as of Release 2005.  Declare styles using these style names for Release 2005 and later */
/* body element in WebBridge forms */
/*.wbbody { }
WebBridge category headings
.wbcategory { font-weight:bold; margin-top: 1em;}
contents of the WBHEADERTEXT wwwoption 
.wbheading { }
Entire WebBridge Resource Definition Link Display
.wblinkdisplay { }
Field selectors in Link Display (except for #@LinkText#)
.wblinkfield { }
#@LinkText# field selector in WB Link Display
.wblinktext { }
deprecated style -- manually inserted in WB category definition 
.wbPanelCategory { color: #325032; }
Contents of  resourcelist token in webbridge forms
.wbresourcelist { }
#HEADER# token in WBHEADERTEXT wwwoption
.wbsubheading { } */


